

.container {

        
        top:100px;
        left:50px;
        margin: 0;
        width: 500px;
        height: 500px;
        position: relative;;
        margin: 0 auto;
        background-color: rgb(247, 247, 247);
        border-radius: 5px;
        overflow: scroll;
   
    min-width: 250px;
  }
 
  * {
    box-sizing: border-box;
  }

 
  ul#todolist {
    border-radius: 10px;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    color: rgb(70, 53, 53);
    
    font-size: 18px;
    transition: 0.2s;
   
  }
  #header{
    border-radius: 10px;
    background-color: #39bbf7;
    padding: 30px 40px;
    color: rgb(51, 23, 23);
    height: 130;
    
  }
  #header text{
 
    
   margin-top: 50;
    height: 130;
    color: pink;
    text-align: center;

  }
  #header myInput{
    border-radius: 5px;

  }

  
  
  li#todolist {
    list-style-type: none;
    font-family: Arial;
    font-size: 1.2em;
    padding: 7px 0;
    transition: all 0.1s ease-in-out;
      -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        
  
  }
  
 